.svg-wrapper {
  position: absolute;
  top: -50vw;
  bottom: -50vw;
  left: -50vw;
  right: -50vw;

  z-index: 2;

  animation-name: rotate;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: var(--animation-state);
}

input[type="checkbox"]:not(:checked) + .svg-wrapper {
  --animation-state: paused;
}

svg {
  height: 100%;
  width: 100%;
}

svg polygon {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: var(--animation-state);
}

/* top left slice */
svg polygon:nth-child(1) { 
  fill: #4CC6C6;
  animation-name: breathe1;
}
/* top right slice */
svg polygon:nth-child(2) {
  fill: #5D80D0;
  animation-name: breathe2;
}
/* bottom left slice */
svg polygon:nth-child(3) { 
  fill: #FFCB62; 
  animation-name: breathe3;
}
/* bottom right slice */
svg polygon:nth-child(4) { 
  fill: #FFA962; 
  animation-name: breathe4;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes breathe1 {
  0% {
    fill: #4CC6C6;
  }

  100% {
    fill: #2CAEAE;
  }
}

@keyframes breathe2 {
  0% {
    fill: #5D80D0;
  }

  100% {
    fill: #3E64BC;
  }
}

@keyframes breathe3 {
  0% {
    fill: #FFCB62;
  }

  100% {
    fill: #FFC041;
  }
}

@keyframes breathe4 {
  0% {
    fill: #FFA962;
  }

  100% {
    fill: #FF9741;
  }
}