/* TABLE OF CONTENTS */
/* Layout/Structure */
/* Header/Navbar */
/* Typography */
/* Miscellaneous */

/* Layout/Structure */
body {
  background-color: #F3F3F3;
}

/* Header/Navbar */

header {
  position: relative;
  height: 400px;
  width: 100%;
}

/* Typography */

h1 {
  position: relative;
  z-index: 3;

  color: white;
  font-size: 4rem;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 3rem;
}

/* Miscellaneous */

.svg-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 2;
}

svg {
  height: 100%;
  width: 100%;
}

/* top left slice */
svg polygon:nth-child(1) { fill: #4CC6C6; }
/* top right slice */
svg polygon:nth-child(2) { fill: #5D80D0; }
/* bottom left slice */
svg polygon:nth-child(3) { fill: #FFCB62; }
/* bottom right slice */
svg polygon:nth-child(4) { fill: #FFA962; }