/* TABLE OF CONTENTS */
/* Layout/Structure */
/* Header/Navbar */
/* Typography */
/* Media */

/* Layout/Structure */
body {
  background-color: #F3F3F3;
}

.code-link {
  float: right;
}

/* Header/Navbar */

header {
  position: relative;
  height: 400px;
  width: 100%;
}

/* Typography */

h1 {
  position: relative;
  z-index: 3;

  color: white;
  font-size: 4rem;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 3rem;
}

/* Media */

.carousel-item {
  background-color: black;
}
.carousel img {
  margin: 0 auto;
  /* max-height: 300px; */
  height: auto;
  max-width: 100%;
  max-height: 400px;
}

.thailand-image {
  max-height: 600px;
  width: auto;
  max-width: 100%;
}